<html>

<head>
    <meta charset="utf-8">
    <title>AWS Certification Notes</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../content/static/css/styles.css">
</head>

<body>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-lg-2">
                <!--Menu starts here-->
                <h3 onclick="location.href='https://sharsulkar.github.io/AWS_Certification_Notes/'">&lt;home/&gt;</h3>
                <!--Menu ends here-->
            </div>

            <div class="col-md-9 col-lg-10">
                <!--header starts here-->
                <div class="container_header">

                    <h1>AWS Certification Notes</h1>


                </div>
            </div>

            <!--header ends here-->

            <div class="row">
                {% block page_content %}{% endblock %}
            </div>
            <!-- footer starts here-->

            <div class="row">
                <div class="col-md-12">
                    <div class="container_footer">
                        {% block footer_content %}{% endblock %}
                    </div>
                </div>
            </div>

            <!-- footer ends here-->
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="../content/static/js/script.js"></script>
</body>

</html>