* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    font-weight: 40;
    list-style-type: none;
    font-style: normal;
  overflow: auto;
  /*word-break: break-all;*/
}

.container_header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    /*height: 100px;*/
    /*background: #333;
    color:#fff;*/
    z-index: 1000;
    overflow: auto;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    transition: height 0.3s;
    text-align:center;
    line-height:80px;
}

.container_header h1
{   
    /*position: fixed;*/
    font-size:24px;
    font-weight:normal;
    margin: 35px;
    /*font-family: "Space Mono", monospace;*/
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

/* keeping the blog as simple as possible
.container_header a {
    color: inherit;
    text-decoration: none;
}

.container_header nav {
    line-height: 1.4;
    font-family: "Roboto Mono", monospace;
    background: #1d1f20;
    padding: 35px 35px;
    width: 300px;
    top: 5vh;
    left: 5vw;
    position: fixed;
    border-radius: 16px;
    box-shadow: 0 0 60px -15px black;
    transform: scale(0) rotate(0deg);
    transition: all 0.75s;
    font-size: 18px
}

.container_header nav.menu_active {
    transform: scale(1) rotate(0deg);
}

.container_header nav > ol > li {
    margin: 20px 0;
    color: #b5bc67;
}

.container_header nav > ol > li:first-of-type {
    color: #efc371;
}

.container_header nav > ol > li > ol {
    margin: 10px 0 0 20px;
    border-left: 1px solid #4d4d4c;
    color: #ae94c0;
}

.container_header nav > ol > li > ol > li {
    margin: 7px 0;
    padding-left: 20px;
}

.container_header nav a:hover {
    color: #dd925f;
}

 
.container_header nav p {
    font-family: "Roboto Mono", monospace;
    float: right;
    cursor: pointer;
    font-size: 16px;
    color: #cfd8dc;
    transition: all 0.2s;
}

.container_header nav p:hover {
    border-bottom: 2px dotted #cfd8dc;
    padding-bottom: 5px
}
*/
.container_header h3 {
    /*position: fixed;*/
    /*font-family: "Roboto Mono", monospace;*/
    font-size: 20px;
    /*color: #fff;*/
    top: 2vh;
    left: 2vw;
    float:left;
    cursor: pointer;
    transition: all 0.3s;
}

/*menu ends here*/
/*social media tooltip starts*/

/*social media tooltip ends*/

/*body startes here*/
.container_body {
  color: black;           /* Set text colour in articles to white */
  background-color: white; /* Mid-grey background */
  width: auto;  /* Specify the width in pixels */  
  /*height: auto;*/
  overflow: auto;
  margin: 0 auto;         /* This is shorthand for centering */
  /*top:120px;*/
  top: auto;
  border-radius: 0px;     /* Curved corners */
  padding: 20em 20em 20em 14em+3em;          /* Adds space between content and edge of article */
  margin-bottom: 10px;    /* Adds space under the article */
  font-size: 18px;
  line-height: 1.6;  
  /*font-family: 'Roboto', monospace;  */
  position: relative;
}

main {
  padding-top: 30px;
  padding-left: 15px;
  padding-right: 25px;
  word-break: break-all;
  position: relative;
}
/*tooltip - reference https://stackoverflow.com/questions/10243440/how-to-create-a-box-when-mouse-over-text-in-pure-css
p > u{
  text-decoration-stype: dotted;
}*/
span{
    background: none repeat scroll 0 0 #F8F8F8;
    border: 5px solid #DFDFDF;
    color: black;
    font-size: 13px;
    /*height: 30px;*/
    letter-spacing: 1px;
    line-height: 30px;
    margin: 0 auto;
    position: absolute;
    text-align: left;
    /*text-transform: uppercase;*/
    /*top: -80px;
    left:-30px;*/
    visibility: hidden;
    padding:0 20px;
    height: auto;
    width: auto;
    word-break: break-all;
    
}
span:after{
    content:'';
    position:fixed;
    /*bottom:-10px;*/
    width:0px;
    height:0px;
    /*border-bottom:5px solid #dfdfdf;
    border-right:5px solid #dfdfdf;*/
    background:inherit;
    left:50%;
    margin-left:-5px;
    -moz-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    transform:rotate(45deg);
    visibility: hidden;
}

p:hover span{
  position: absolute;
  cursor: help;
  visibility: visible;
}
/*tooltip ends*/
header {
  font-size: 30px;
}
#gras {
  font-weight: bold;
}
#read_time{
  font-style: italic;
}
#published_date{
  font-style: italic;
} 
#last_update_date{
  font-style: italic;
}

/*button startes here*/
#myBtn {
  display: block;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: darkseagreen;
  color: darkblue;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
}

#myBtn:hover {
  background-color: #555;
}
/*button ends here*/

/*index navbar startes here*/

@media (max-width: 768px) {
  .navbar-fixed-side {
    margin-left: -15px;
    margin-right: -15px;
  }
}
@media (min-width: 768px) {
  .navbar-fixed-side {
    top:120px;
    position: fixed;
    margin: 0px;
    /*height: 750px;*/
    height: auto;
    width: inherit;
    overflow: auto;
    border-top-width: 30;
    border-bottom-width: 0;
    border-radius: 0;
    
  }
  .navbar-fixed-side .container,
  .navbar-fixed-side .container-fluid {
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
  }
  .navbar-fixed-side .navbar-header {
    float: none;
  }
  .navbar-fixed-side .navbar-brand {
    height: auto;
  }
  .navbar-fixed-side > .container .navbar-brand,
  .navbar-fixed-side > .container-fluid .navbar-brand {
    margin-left: 0;
  }
  .navbar-fixed-side .navbar-collapse {
    width: 100%;
    border-top: 1px solid #e7e7e7;
  }
  .navbar-fixed-side .navbar-nav {
    float: none;
    margin: 0 -15px;
  }
  .navbar-fixed-side .navbar-nav > li {
    float: none;
  }
  .navbar-fixed-side .navbar-nav > li > a {
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #e7e7e7;
  }
  .navbar-fixed-side .navbar-form {
    margin: 0;
    margin-left: -15px;
    margin-right: -15px;
    padding: 10px 15px;
    border-bottom: 1px solid #e7e7e7;
  }
  .navbar-fixed-side .navbar-text {
    float: none;
    margin-left: 0;
    margin-right: 0;
  }
  .navbar-fixed-side .navbar-left,
  .navbar-fixed-side .navbar-right {
    float: none !important;
  }
  .navbar-fixed-side .navbar-nav .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    box-shadow: none;
    border-bottom: 1px solid #e7e7e7;
  }
  .navbar-fixed-side .navbar-nav .dropdown-menu > li > a,
  .navbar-fixed-side .navbar-nav .dropdown-menu .dropdown-header {
    padding: 5px 15px 5px 25px;
  }
  .navbar-fixed-side .navbar-nav .dropdown-menu > li > a {
    line-height: 20px;
    color: #777;
  }
  .navbar-fixed-side .navbar-nav .dropdown-menu > li > a:hover,
  .navbar-fixed-side .navbar-nav .dropdown-menu > li > a:focus {
    background-image: none;
  }
  .navbar-fixed-side .navbar-nav .dropdown-menu > .active > a {
    background-color: #e7e7e7;
    color: #555;
  }
  .navbar-fixed-side .navbar-nav > li > a:hover,
  .navbar-fixed-side .navbar-nav > li > a:focus,
  .navbar-fixed-side .navbar-nav .dropdown-menu > li > a:hover,
  .navbar-fixed-side .navbar-nav .dropdown-menu > li > a:focus {
    background-color: #f0f0f0;
    color: #333;
  }
  .navbar-fixed-side .dropdown > .dropdown-toggle,
  .navbar-fixed-side .dropdown-menu > .dropdown-header {
    background-color: transparent !important;
    color: #9d9d9d !important;
    cursor: default;
    font-size: 0.8em;
    text-transform: uppercase;
    border-bottom: none;
    padding-bottom: 0;
  }
  .navbar-fixed-side .dropdown-toggle .caret {
    display: none;
  }
  .navbar-fixed-side .dropdown-menu {
    display: block;
  }
  .navbar-fixed-side.navbar-inverse .navbar-collapse,
  .navbar-fixed-side.navbar-inverse .navbar-nav > li > a,
  .navbar-fixed-side.navbar-inverse .navbar-form,
  .navbar-fixed-side.navbar-inverse .navbar-nav .dropdown-menu {
    border-color: #363636;
  }
  .navbar-fixed-side.navbar-inverse .divider {
    background-color: #363636;
  }
  .navbar-fixed-side.navbar-inverse .navbar-nav .dropdown-menu > li > a {
    color: #9d9d9d;
  }
  .navbar-fixed-side.navbar-inverse .navbar-nav .dropdown-menu > .active > a {
    background-color: #090909;
    color: #fff;
  }
  .navbar-fixed-side.navbar-inverse .navbar-nav > li:not(.active) > a:hover,
  .navbar-fixed-side.navbar-inverse .navbar-nav > li:not(.active) > a:focus,
  .navbar-fixed-side.navbar-inverse
    .navbar-nav
    .dropdown-menu
    > li:not(.active)
    > a:hover,
  .navbar-fixed-side.navbar-inverse
    .navbar-nav
    .dropdown-menu
    > li:not(.active)
    > a:focus {
    background-color: #2f2f2f;
    color: #fff;
  }
  .navbar-fixed-side.navbar-inverse .dropdown > .dropdown-toggle {
    color: #777777 !important;
  }
}
#navbar > ul{
  margin: 10px;
  font-size: 16px;
  line-height: 1.5
}
#navbar > header{
  margin: 10px;
  font-size: 20px;
}
/*index navbar ends here*/

/*body ends here*/

/*footer startes here*/

.container_footer
{
  width: 100%;
  height: auto;
  position: relative;
  /*background-color:#333;*/
  padding:25px 25px 25px 25px;
  font-size:15px;
  /*font-family: "Roboto Mono", monospace;*/
  line-height:20px;
  /*color:#fff;*/
}

.container_footer h6
{
  /*color:#fff;*/
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:4px
}

/*footer ends here*/
