<html>

<head>
  <meta charset="utf-8">
  <title>AWS Certification Notes</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="./static/css/styles.css">
</head>

<body>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <!--header starts here-->
        <div class="container_header">

          <h1>AWS Certification Notes</h1>

          <!--Menu starts here-->
          <h3 onclick="document.getElementsByTagName('nav')[0].className = 'menu menu_active'">&lt;menu/&gt;</h3>
          <nav class="menu">
            <p onclick="document.getElementsByTagName('nav')[0].className = 'menu'">&lt;close/&gt;</p>
            <ol>
              <li class="menu-item"><a href="#0">Home</a></li>
              <li class="menu-item"><a href="#0">About</a></li>
              <li class="menu-item">
                <a href="#0">Blog Posts</a>
                <ol class="sub-menu">
                  <li class="menu-item"><a href="#0">Topic 1</a></li>
                  <li class="menu-item"><a href="#0">Topic 2</a></li>
                  <li class="menu-item"><a href="#0">Topic 3</a></li>
                </ol>
              </li>
              <li class="menu-item">
                <a href="#0">Web Apps</a>
                <ol class="sub-menu">
                  <li class="menu-item"><a href="#0">Webapp1</a></li>
                  <li class="menu-item"><a href="#0">Webapp2</a></li>
                  <li class="menu-item"><a href="#0">Webapp3</a></li>
                </ol>
              </li>
              <li class="menu-item"><a href="#0">Contact</a></li>
            </ol>
          </nav>
          <!--Menu ends here-->

        </div>
      </div>
    </div>

    <!--header ends here-->

    <div class="row">
        {% block page_content %}{% endblock %}
     </div>
    <!-- footer starts here-->

    <div class="row">
      <div class="col-md-12">
        <div class="container_footer">
          {% block footer_content %}{% endblock %}
        </div>
      </div>
    </div>
    <!-- footer ends here-->
  </div>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="./static/js/script.js"></script>
</body>

</html>
